body{
	font-family: Oswald;w
	height:100%;
	background-size: cover;
	background:url(usman.svg);
	background-position: right;
	background-repeat: no-repeat;

}

.navbar-inverse .navbar-brand {
	color:white;
}
.navbar-inverse .navbar-nav>li>a{
	color:white;
}
html {
	height:100%;
}

#content {
	text-align: center;
	padding-right: 50%;
	padding-top: 10%;
	font-size:25px;
	font-weight:700;
}

hr {
	width:200px;
	color:black;
	font-weight: 700;
}

h1 {
	font-size: 3em;
	color:black;
	font-weight: 500;
}
